# Environnements virtuels
venv/
env/
.env

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de base de données
*.sqlite3

# Fichiers de logs
*.log
logs/

# Fichiers de média et statiques
media/
static/

# Fichiers de configuration IDE
.vscode/
.idea/

# Fichiers de build
*.egg-info/
dist/
build/

# Fichiers de système
.DS_Store
Thumbs.db

# Migrations (à commenter si vous voulez suivre les migrations)
**/migrations/**
!**/migrations/__init__.py